<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-admob-free"
    version="0.27.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Cordova AdMob Plugin</name>
    <description>Robust, reliable and easy to use Cordova Admob plugin for Android and iOS
        phone. Allows preloading and automatic loading of interstitials and banners plus more.
    </description>
    <author>Ratson</author>
    <license>MIT</license>
    <keywords>admob, google, cordova-ios, cordova-android, ecosystem:cordova, android, ios,
        money, monetization, iad, services, play, earn, publicity, advertisment, advertising,
        ads, ad, eclipse, android studio
    </keywords>
    <repo>https://github.com/ratson/cordova-plugin-admob-free.git</repo>
    <issue>https://github.com/ratson/cordova-plugin-admob-free/issues</issue>

    <engines>
        <engine name="cordova" version=">=4.0" />
    </engines>

    <js-module name="AdMob" src="www/admob.js">
        <clobbers target="admob" />
        <!-- the following export will be removed in future -->
        <clobbers target="AdMob" />
        <clobbers target="plugins.AdMob" />
    </js-module>

    <dependency id="cordova-promise-polyfill" version="~0.0.2" />
    <dependency id="cordova-admob-sdk" version="~0.24.1" />

    <platform name="android">
        <preference name="ADMOB_APP_ID" default=""/>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.google.android.gms.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:theme="@android:style/Theme.Translucent" />
            <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="$ADMOB_APP_ID"/>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AdMob">
                <param name="android-package" value="name.ratson.cordova.admob.AdMob" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/banner/BannerExecutor.java" target-dir="src/name/ratson/cordova/admob/banner" />
        <source-file src="src/android/banner/BannerListener.java" target-dir="src/name/ratson/cordova/admob/banner" />
        <source-file src="src/android/interstitial/InterstitialExecutor.java" target-dir="src/name/ratson/cordova/admob/interstitial" />
        <source-file src="src/android/interstitial/InterstitialListener.java" target-dir="src/name/ratson/cordova/admob/interstitial" />
        <source-file src="src/android/rewardvideo/RewardVideoExecutor.java" target-dir="src/name/ratson/cordova/admob/rewardvideo" />
        <source-file src="src/android/rewardvideo/RewardVideoListener.java" target-dir="src/name/ratson/cordova/admob/rewardvideo" />

        <source-file src="src/android/AbstractExecutor.java" target-dir="src/name/ratson/cordova/admob" />
        <source-file src="src/android/Actions.java" target-dir="src/name/ratson/cordova/admob" />
        <source-file src="src/android/AdMob.java" target-dir="src/name/ratson/cordova/admob" />
        <source-file src="src/android/AdMobConfig.java" target-dir="src/name/ratson/cordova/admob" />
        <source-file src="src/android/CordovaEventBuilder.java" target-dir="src/name/ratson/cordova/admob" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AdMob">
                <param name="ios-package" value="CDVAdMob" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVAdMob.h" />
        <source-file src="src/ios/CDVAdMob.m" />
    </platform>
</plugin>
