<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-admob-free"
    version="0.1.5" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Cordova AdMob Plugin</name>
    <description>Robust, reliable and easy to use Cordova Admob plugin for Android, iOS and Windows
        phone. Allows preloading and automatic loading of interstitials and banners plus more.
    </description>
    <author>Ratson</author>
    <license>MIT</license>
    <keywords>admob, google, cordova-ios, cordova-android, ecosystem:cordova, android, ios, windows,
        money, monetization, iad, services, play, win, earn, publicity, advertisment, advertising,
        ads, ad, eclipse, android studio
    </keywords>
    <repo>https://github.com/ratson/cordova-plugin-admob-free.git</repo>
    <issue>https://github.com/ratson/cordova-plugin-admob-free/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <js-module name="AdMob" src="www/AdMob.js">
        <clobbers target="AdMob" />
        <clobbers target="plugins.AdMob" />
    </js-module>

    <dependency id="cordova-admob-sdk" version="~0.0.4" />

    <!-- android -->
    <!-- android, now build with gradle instead of ant -->
    <platform name="android">
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.google.android.gms.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:theme="@android:style/Theme.Translucent" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AdMob">
                <param name="android-package" value="name.ratson.cordova.admob.AdMob" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/name/ratson/cordova/admob/AdMob.java" target-dir="src/name/ratson/cordova/admob" />
        <!-- cordova CLI using gradle and it's working well        <framework src="com.google.android.gms:play-services-ads:+" /> -->
        <!-- but unfortunately, build.phonegap.com, Intel XDK, and some other tools still use ant -->
        <!-- dependency id="cordova-plugin-googleplayservices"/ -->
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AdMob">
                <param name="ios-package" value="CDVAdMob" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVAdMob.h" />
        <source-file src="src/ios/CDVAdMob.m" />
    </platform>

    <!-- Windows Phone 8 -->
    <platform name="wp8">
        <config-file parent="/Deployment/App/Capabilities" target="Properties/WMAppManifest.xml">
            <Capability Name="ID_CAP_LOCATION" />
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="AdMob">
                <param name="wp-package" value="AdMob" />
            </feature>
        </config-file>
        <source-file src="src/wp8/AdMob.cs" />
    </platform>

    <!-- Windows Phone 8.1+ -->
    <platform name="windows">
        <config-file parent="/Deployment/App/Capabilities" target="Properties/WMAppManifest.xml">
            <Capability Name="ID_CAP_LOCATION" />
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="AdMob">
                <param name="wp-package" value="AdMob" />
            </feature>
        </config-file>
        <source-file src="src/wp8/AdMob.cs" />
    </platform>
</plugin>
