<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cranberrygame.cordova.plugin.ad.admob"
    version="1.0.74">
	
    <name>Cordova Admob plugin</name>
    <description>Show admob banner and full screen ad</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,ad,admob,monetisation</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-ad-admob</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-ad-admob/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <js-module src="www/admob.js">
        <clobbers target="window.admob" />
    </js-module>
	
    <!-- android -->
    <platform name="android">
	    <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Admob" >
                <param name="android-package" value="com.cranberrygame.cordova.plugin.ad.admob.Admob"/>
            </feature>
        </config-file>
		
        <source-file src="src/android/Admob.java" target-dir="src/com/cranberrygame/cordova/plugin/ad/admob" />		
        <source-file src="src/android/AdmobOverlap.java" target-dir="src/com/cranberrygame/cordova/plugin/ad/admob" />		
        <source-file src="src/android/AdmobSplit.java" target-dir="src/com/cranberrygame/cordova/plugin/ad/admob" />
		
		<!-- dependency -->
		<dependency id="com.cranberrygame.cordova.plugin.ad.admobsdk" url="https://github.com/cranberrygame/cordova-plugin-ad-admobsdk" />
    </platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="Admob">
				<param name="ios-package" value="Admob" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		
		<header-file src="src/ios/Admob.h" />
		<source-file src="src/ios/Admob.m" />
		<header-file src="src/ios/AdmobOverlap.h" />
		<source-file src="src/ios/AdmobOverlap.m" />
		<header-file src="src/ios/AdmobSplit.h" />
		<source-file src="src/ios/AdmobSplit.m" />

		<!-- dependency -->
		<dependency id="com.cranberrygame.cordova.plugin.ad.admobsdk" url="https://github.com/cranberrygame/cordova-plugin-ad-admobsdk" />
	</platform>
	
    <!-- wp8 -->
    <platform name="wp8">
		
        <config-file target="config.xml" parent="/*">
            <feature name="Admob">
                <param name="wp-package" value="Admob"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/Admob.cs" />
        <source-file src="src/wp8/AdmobOverlap.cs" />
        <source-file src="src/wp8/AdmobSplit.cs" />

		<!-- dependency -->
		<dependency id="com.cranberrygame.cordova.plugin.ad.admobsdk" url="https://github.com/cranberrygame/cordova-plugin-ad-admobsdk" />
    </platform>
</plugin>